<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
      
    </head> 
    <body>
<div ng-app="myApp" ng-controller="myCtrl">
<form >
                Habitica User ID:<br>
                <input type="text" ng-model="user.userid"><br>
                Api token:<br>
                <input type="password" ng-model="user.apitoken">
                <br><br>
                <button ng-click="reset()">RESET</button>
                <button type="button" ng-click="getDetails()">Get Details</button>
     </form>

     <div>1.  Profile name:  {{myWelcome}}<br>
                    2.  Avatar PNG: {{}}<br>
                    3.  Gold amount: {{}}
             </div>

<p>{{ count }}</p>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.getDetails = function() {
        alert("hi");
    
    }

});
</script>
</body>
</html>